<nav class="navbar navbar-default" role="navigation" style="height:55px">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
        <a class="navbar-brand" href="\">Hi <%= current_user.email %></a>
      <% else %>
        <%= link_to 'Login', new_user_session_path, :class => "navbar-brand" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></br></li>
        <li><%= link_to 'New Article', new_article_path %></br></li>
      </ul>
      <% end %>

      <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <!--<input type="text" class="form-control" placeholder="Search" name="q">-->
            <%= form_tag articles_path, :method => :get do |f| %>
                <%= text_field_tag :search, params[:search], :class => "form-control" , :placeholder => "Search" %>
                <div class="input-group-btn">
                <%= submit_tag "Search", :class=> "btn btn-default"%>
                </div>
            <% end %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>